<!--The content below is only a placeholder and can be replaced.-->
<!-- <ng2-slim-loading-bar [color]="'#dcf442'"
                      [height]="'15px'"
                      [show]="'true'"></ng2-slim-loading-bar> -->
<app-nav></app-nav>
<!-- <ng2-slim-loading-bar color="green"></ng2-slim-loading-bar> -->
<ngx-spinner bdOpacity=0.6
             bdColor="rgba(51,51,51,0.55)"
             size="medium"
             color="#00c9fc"
             type="timer"
             [fullScreen]="true">
</ngx-spinner>

<section>
  <app-side-bar></app-side-bar>
  <router-outlet></router-outlet>
</section>